@use './resets';
@use './variables' as *;

body {
  font-family: 'Noto Sans';
}
html {
  &::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($black, 0.2);
  }
}
.renderedImage {
  background-color: $gray-300 !important;
}
