@use '../variables' as *;

.notifications {
  width: 390px;
  padding: $spacer;
  box-shadow: 0 0 4px rgba($gray-400, 0.1);
  border-radius: 8px;
  position: absolute;
  inset: calc(130% + $spacer) auto auto 0;
  z-index: 2;
  background-color: $white;
  border: 1px solid $gray-50;
  max-height: 368px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($black, 0.2);
  }

  &__header {
    display: grid;
    grid-template: repeat(2, auto) / 1fr auto;
    align-items: center;

    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: 'Poppins';
      color: $dark-100;
    }
    img {
      width: 30px;
      cursor: pointer;
      box-shadow: 0 0 4px rgba($gray-400, 0.3);
      border-radius: 8px;
      padding: 0.2em;
    }
    .tabs {
      display: flex;
      align-items: center;
      gap: $spacer;
      font-weight: 500;
      cursor: pointer;
      margin-top: $spacer * 0.5;

      p {
        text-decoration: none;
        color: $gray-200;

        &.active {
          color: $dark-100;
          text-decoration: 2px solid underline;
        }
      }
    }
  }
  .notification {
    display: grid;
    gap: $spacer * 0.5;
    align-items: start;
    grid-template: repeat(3, auto) / auto 1fr;
    grid-template-areas: 'img message' 'img time' '. buttons';
    font-size: 0.9rem;
    color: $dark-100;
    margin-top: $spacer;

    &__img {
      grid-area: img;
      width: 48px;
      border-radius: 8px;
    }
    &__message {
      grid-area: message;
      font-weight: 500;
      font-size: 0.95rem;

      span {
        color: $black;
        font-weight: 600;
        font-family: 'Poppins';
      }
    }
    &__time {
      grid-area: time;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $gray-200;
    }
    &__actions {
      grid-area: buttons;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        border: none;
        outline: none;
        padding: 0.5em 1em;
        border-radius: 4px;
        cursor: pointer;

        &:disabled {
          background-color: $gray-200;
          cursor: pointer;
        }
        &:first-child {
          background-color: rgba(#eb0a0a, 0.7);
          color: $white;
        }
        &:last-child {
          background-color: #219653;
          color: $white;
        }
      }
    }
  }
}
