@use '../variables' as *;

.visibility {
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  padding: $spacer;
  box-shadow: 0px 2px 4px 0px #0000000d;
  position: absolute;
  inset: 90% auto auto 0;
  background-color: $white;
  z-index: 2;

  &__header {
    text-transform: capitalize;
    font-weight: 600;
    color: $gray-400;
    font-family: 'Poppins';
  }
  &__subheader {
    color: $gray-200;
    font-weight: 500;
    font-family: 'Noto Sans';
    margin-bottom: $spacer;
  }
  &__option {
    padding: $spacer;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: $gray-100;
    }
    p:first-child {
      display: flex;
      text-transform: capitalize;
      align-items: center;
      gap: $spacer * 0.5;
      font-weight: 500;
      font-size: 1.1rem;
      color: $gray-400;

      img {
        width: 1.2rem;
      }
    }
    p:last-child {
      color: $gray-200;
      margin-top: $spacer * 0.25;
    }
  }
}
