@use '../../variables' as *;

.list {
  width: max-content;
  min-width: 243px;
  max-width: 250px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    span {
      color: $dark-100;
      font-family: 'Poppins';
      font-weight: 500;
      text-transform: capitalize;
    }
    input {
      border: none;
      outline: none;
      font-family: 'Poppins';
      color: $gray-200;
      font-weight: 500;
      border: 1px solid $gray-100;
      padding: 0.5em 1em;
      border-radius: 8px;
      margin-bottom: 0.2em;
      max-width: 195px;
    }
    img {
      cursor: pointer;
    }
    .list-options {
      border: 1px solid $gray-50;
      box-shadow: 0px 2px 4px 0px #0000000d;
      padding-inline: $spacer;
      border-radius: 15px;
      width: max-content;
      background-color: $white;
      position: absolute;
      inset: 100% auto auto 84%;

      p {
        font-family: 'Poppins';
        font-weight: 500;
        color: $gray-200;
        padding-block: $spacer;
        padding-inline: 0 $spacer * 3.5;
        cursor: pointer;

        &:first-child {
          border-bottom: 2px solid #e0e0e0;
        }
      }
    }
  }
  &__body {
    min-height: 1px;
  }
  .add-card {
    background-color: $blue-100;
    color: $blue-300;
    padding: $spacer * 0.75 $spacer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;

    span:nth-child(2) {
      font-size: 1.2rem;
    }
  }
}
