@use '../variables' as *;

.add-user {
  width: max-content;
  border: 1px solid rgba(224, 224, 224, 1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  padding: $spacer;
  border-radius: 8px;
  position: absolute;
  inset: 110% auto auto 0;
  background-color: $white;

  h1 {
    font-family: 'Poppins';
    color: $gray-400;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .subheader {
    font-family: 'Noto Sans';
    color: $gray-200;
    font-weight: 400;
    font-size: 1.1rem;
  }
  label {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 0.2em;
    margin-block: $spacer;

    input,
    button {
      border: none;
      outline: none;
    }
    input {
      flex: 1;
      color: $gray-200;
      font-family: 'Poppins';
      padding-inline: 0.75em;

      &::placeholder {
        color: $gray-300;
      }
    }
    button {
      border-radius: 8px;
      background-color: $blue-300;
      width: 40px;
      height: 40px;
      aspect-ratio: 1 / 1;
      display: grid;
      place-content: center;
      cursor: pointer;

      img {
        width: 25px;
      }
    }
  }
  button {
    border: none;
    outline: none;
    background-color: $blue-300;
    display: flex;
    align-items: center;
    gap: $spacer;
    color: $white;
    padding: 0.55em 1.2em;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    margin-inline: auto;

    &:disabled {
      background-color: $gray-200;
      cursor: not-allowed;
    }
  }
  .suggested-users {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 8px;
    padding: $spacer * 0.5;
    max-height: 210px;
    overflow: auto;
    margin-bottom: $spacer;
    &::-webkit-scrollbar {
      width: 3px !important;
      height: 3px !important;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba($black, 0.1);
      border-radius: 8px;
    }
    &:empty {
      display: none;
    }

    .suggested-user {
      display: grid;
      grid-template: 1fr 1fr / auto 1fr;
      grid-template-areas: 'img name' 'img email';
      column-gap: 0.5em;
      align-items: center;
      cursor: pointer;
      padding: 0.5em;
      border-radius: 5px;
      &--task {
        display: flex;
        gap: $spacer;
        font-size: 1rem;
      }
      &.selected {
        background-color: $gray-100 !important;
      }
      &:not(:last-child) {
        margin-bottom: 0.2em;
      }
      &:hover {
        background-color: $blue-50;
      }

      img {
        grid-area: img;
        width: 45px;
        border-radius: 8px;
      }
      p {
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .name {
        grid-area: name;
        font-weight: 500;
        color: $dark-100;
      }
      .email {
        grid-area: email;
        color: $gray-200;
      }
    }
  }
}
