@use '../../variables' as *;

.actions {
  grid-area: actions;
  @include screen(730) {
    display: grid;
    grid-template: repeat(3, auto) / auto auto;
    grid-template-areas: 'header members' 'labels members' 'cover members';
    align-items: start;
    column-gap: $spacer;
  }
  &__header {
    display: flex;
    align-items: center;
    gap: 1ch;
    grid-area: header;

    img {
      opacity: 0.7;
      width: 30px;
    }
    p {
      text-transform: capitalize;
      color: $gray-300;
      font-family: 'Poppins';
      font-weight: 500;
    }
  }
  .action {
    display: flex;
    align-items: center;
    gap: $spacer;
    &__header {
      display: flex;
      align-items: center;
      gap: $spacer;
    }
    &--labels {
      grid-area: labels;
    }
    &--cover {
      grid-area: cover;
    }
    font-weight: 500;
    text-transform: capitalize;
    background-color: $gray-100;
    max-width: 180px;
    min-width: 170px;
    padding: $spacer * 0.5 $spacer;
    border-radius: 8px;
    margin-top: $spacer * 0.5;
    cursor: pointer;
    position: relative;

    &:not(:nth-child(2)) {
      margin-top: $spacer;
    }
    p {
      color: $gray-200;
    }
    img {
      width: 22px;
    }
    &.members {
      display: block;
      background-color: unset;
      padding: unset;
      margin-top: $spacer * 2;
      grid-area: members;

      @include screen(730) {
        margin-top: 0;
      }
      p {
        color: #bdbdbd;
      }

      .member {
        display: flex;
        align-items: center;
        gap: $spacer;
        margin-block: $spacer;

        img {
          width: 40px;
          border-radius: 8px;
        }
        p {
          color: $dark-100;
          font-weight: 500;
          font-size: 0.9rem;
        }
      }
      .assign {
        display: flex;
        align-items: center;
        background-color: $blue-100;
        color: $blue-300;
        font-weight: 500;
        border-radius: 8px;
        padding: $spacer * 0.6 $spacer;
        font-size: 0.9rem;
        cursor: pointer;
        gap: $spacer;

        span {
          font-size: 1.2rem;
        }
      }
    }
  }
}
