@use '../../variables' as *;

.card-description {
  margin-top: $spacer * 2;

  .description {
    color: $black;
    margin-block: $spacer * 0.6;
    font-size: 1.15rem;
    font-family: 'Poppins';
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
  }
  .no-description {
    color: $gray-300;
    margin-bottom: $spacer * 1.5;
  }
  .edit-input {
    display: block;
    width: 100%;
    resize: none;
    min-height: 150px;
    max-height: 400px;
    outline: none;
    border: none;
    background-color: $white;
    padding: $spacer * 0.6;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: $gray-200;
    margin-bottom: $spacer;

    &::-webkit-scrollbar {
      width: 6px !important;
      height: 6px !important;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba($black, 0.2);
    }
  }
  .edit-btn-container {
    display: flex;
    align-items: center;
    gap: $spacer;
    justify-content: flex-end;

    button {
      border: none;
      outline: none;
      text-transform: capitalize;
      padding: 0.75em 1.3em;
      color: $white;
      font-weight: 500;
      border-radius: 8px;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }
    }
    .cancel-btn {
      color: $dark-100;
      background-color: transparent;

      &:disabled {
        color: $white;
      }
    }
    .save-btn {
      background-color: rgb(35, 168, 35);
      display: flex;
      align-items: center;
      gap: $spacer;

      &:disabled {
        background-color: $gray-200;
      }
    }
  }
}
.description-header {
  display: flex;
  align-items: center;
  gap: $spacer;

  p,
  button,
  label {
    display: flex;
    align-items: center;
    gap: $spacer * 0.65;
    text-transform: capitalize;
    font-size: 0.95rem;
    font-weight: 500;

    img {
      width: 20px;
    }
  }
  label input[type='file'] {
    display: none;
  }
  p {
    color: $gray-300;
  }
  button,
  label {
    border: 1px solid $gray-300;
    color: $gray-200;
    outline: none;
    border-radius: 12px;
    background-color: transparent;
    padding: 0.5em 1.1em;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }

    img {
      width: 17px;
    }
  }
}
