@use '../../variables' as *;

.forgot-password {
  padding: $spacer;
  min-height: 100dvh;
  display: grid;
  grid-template: auto 1fr / 1fr;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: darken($blue-300, 20%);
      text-decoration: 1px underline darken($blue-300, 20%);
    }
  }
  &__main {
    height: max-content;
    max-width: max-content;
    width: 90%;
    margin: auto;
    font-family: 'Poppins';
    text-align: center;

    & > img {
      box-shadow: 0 0 4px 2px rgba($gray-200, 0.15);
      padding: $spacer * 0.3;
      border-radius: 4px;
      margin-inline: auto;
    }
    h1 {
      color: $dark-100;
      font-weight: 500;
      margin-block: $spacer * 0.5 $spacer * 0.15;
    }
    p {
      color: $gray-400;
    }
    label {
      display: block;
      text-align: start;
      font-weight: 500;
      color: $gray-400;
      margin-top: $spacer;
      position: relative;

      img {
        position: absolute;
        cursor: pointer;
        width: 20px;
        inset: auto 1.3em 26px auto;
        transform: translateY(50%);
      }

      input {
        display: block;
        border: 2px solid $gray-300;
        outline: none;
        border-radius: 7px;
        padding: 0.75em 1.3em;
        color: $gray-400;
        width: 100%;
        margin-top: $spacer * 0.3;
        background-image: none !important;
      }
    }
    button {
      display: block;
      padding: 0.75em 1.3em;
      background-color: $blue-300;
      width: 100%;
      margin-top: $spacer * 1.25;
      border: none;
      outline: none;
      font-weight: 500;
      color: $white;
      border-radius: 7px;
      cursor: pointer;
    }
    a {
      display: flex;
      align-items: center;
      gap: $spacer;
      width: max-content;
      margin-top: $spacer;
      margin-inline: auto;
      color: $gray-200;
      font-weight: 500;
      text-decoration: none;

      img {
        width: 25px;
      }
    }
  }
}
