@use '../../variables' as *;

.homepage {
  background-color: $blue-50;
  padding: $spacer * 1.5;
  min-height: calc(100dvh - 83.95px);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: $spacer * 1.5;

    & > p {
      text-transform: capitalize;
      font-size: 1.25rem;
      color: $dark-100;
    }
    & > button {
      font-size: 1.1rem;
    }
  }
  .boards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-auto-rows: auto;
    gap: $spacer;
  }
}
