@use '../variables' as *;

.board-card {
  background-color: $white;
  box-shadow: 0px 4px 12px 0px #0000000d;
  border-radius: 12px;
  padding: $spacer;

  & > img {
    width: 100%;
    aspect-ratio: 219 / 130;
    border-radius: 12px;
    object-fit: cover;
  }
  & > p {
    margin-block: $spacer;
  }
  .users {
    display: flex;
    align-items: center;
    gap: $spacer * 0.5;

    img,
    div {
      width: 30px;
      height: 30px;
      border-radius: 8px;
      object-fit: cover;
    }
    div {
      background-color: $gray-300;
      display: grid;
      place-content: center;
      color: $white;
      font-weight: 500;
    }
  }
}
