@use '../variables.scss' as *;

.suggested-user-skeleton {
  display: grid;
  grid-template: 1fr 1fr / auto 1fr;
  grid-template-areas: 'img name' 'img email';
  column-gap: 0.5em;
  align-items: center;
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: $spacer;
  }
  & * {
    font-size: 1rem !important;
  }

  .image {
    grid-area: img;
    width: 45px;
    border-radius: 8px;
    height: 90% !important;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    overflow: hidden;

    span {
      display: block;
      height: 100%;
    }
  }
  .name,
  .email {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .name {
    grid-area: name;
    font-weight: 500;
    color: $dark-100;

    span {
      display: inline-block;
      width: 90%;
    }
  }
  .email {
    grid-area: email;
    color: $gray-200;
  }
}
